/*Schrijf hier jouw CSS*/

/* Assignments Part 1 - André de Groot */

/* Assignment 1 */
.opdracht-1 ul {
  display: flex;
  justify-content: space-between;
}

/* Assignment 2 */
.opdracht-2 ul {
  display: flex;
}

.opdracht-2 ul li {
  flex: 1;
}

/* Assignment 3 */
.opdracht-3 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opdracht-3 ul li:nth-of-type(2) {
  align-self: center;
}

.opdracht-3 ul li:last-of-type {
  align-self: flex-end;
}

/* Assignment 4 */
.opdracht-4 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Assignment 5 */
.opdracht-5 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.opdracht-5 div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* I could have placed a class on the specific <li> and be done with it, but chose not to:-)  */
.opdracht-5 div ul:nth-of-type(2) li:first-child {
  align-self: center;
}

.opdracht-5 div ul:last-of-type li:first-child {
  align-self: flex-end;
}
